# Ignore Large Folders (Biang Kerok Berat)
RELEASE_KASIR_V1/
node_modules/
dist/
.next/
build/
out/

# Electron Build Output
vamos-pos-backend/public/win-unpacked/
vamos-pos-backend/public/mac/
vamos-pos-backend/public/linux/
vamos-pos-backend/public/*.blockmap
vamos-pos-backend/public/builder-debug.yml
vamos-pos-backend/public/builder-effective-config.yaml
vamos-pos-backend/public/.icon-ico/

# Large Binary / DLL / Native modules
*.dll
*.node
*.pak
*.bin
*.dat

# Ignore Executables and Packages
*.exe
*.msi
*.zip
*.rar
*.7z

# Environment and Logs
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific
.vscode/
.idea/
.DS_Store
Thumbs.db
vamos-pos-backend/public/uploads/
