# CONFIGURATION FOR VAMOS POS PORTABLE (CASHIER)
# ===============================================

# Alamat VPS Backend Anda (Untuk Sinkronisasi Realtime)
CLOUD_BASE_URL="https://pos.vamospool.id"

# Alamat Database (Seharusnya Sama dengan yang ada di VPS)
DATABASE_URL="postgresql://postgres:postgres@pos.vamospool.id:5432/vamos_pos?schema=public"

# Tambahan (Opsional)
PORT=3000
RELAY_COM_PORT="COM3"
JWT_SECRET="admin" # Harus sama dengan yang di VPS
NODE_ENV="production"
IS_LOCAL_ELECTRON="true"
